@charset "utf-8";

@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
    line-height: 1.5;
    tab-size: 4;
    font-size: 14px;
    font-feature-settings: normal;
    font-variation-settings: normal;
    overflow-y: scroll;
}

body {
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    line-height: inherit;
    margin: 0;
}

a, div {
    text-decoration: none;
}

a {
    background: transparent;
    color: inherit;
}

button {
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    background-image: none;
}

button, input, select {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    letter-spacing: inherit;
}

button[disabled], html input[disabled] {
    cursor: default;
}

dd, dl, h1, h2, h3, h4, h5, h6, hr, p {
    margin: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;  
}

svg:not(:root) {
    overflow: hidden;
}

svg, img {
    display: block;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.full-view {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.main-layout {
    background-color: white;
    display: block;
}

.go-top-scroll-btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: white;
    border: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    transition: 0.3s;
    z-index: 700;
}

.go-top-scroll-btn:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px;
}

.go-top-scroll-btn-arrow {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1px;    
}

.go-top-scroll-btn-text {
    font-size: 12px;
    font-weight: bold;
    line-height: 120%;
}

/* 화면 최상단 메인쪽 */
.product-intro-bg {
    border-bottom: 1px solid rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.product-intro-container {
    padding: 32px 0px 42px;
    width: 1040px;
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0px auto;
}

/* 최상단 카테고리들 */
.category-links {
    display: flex;
    gap: 4px;
}

.category-item {
    display: flex;
    align-items: center;
    color: rgb(84, 84, 84);
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
}

.category-item svg {
    width: 12px;
    height: 12px;
}

/* 나누기 */
.spacer-sm {
    height: 12px;
}

.spacer-md {
    height: 24px;
}

.product-intro-wrapper {
    gap: 72px;
    display: flex;
    flex-wrap: wrap;
}

/* 커버 이미지 */
.cover-image-section {
    width: 509px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cover-image-list {
    display: flex;
    flex-direction: column;
}

.main-image-container {
    margin-bottom: 8px;
    border-radius: 8px;
    width: 509px;
    height: 509px;
    position: relative;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* 썸넬 */
.thumbnail-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnail-item {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    transition: 0.2s;
}

.thumbnail-item.active {
    border: 1px solid rgb(28, 28, 28);
}

.thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
}


.product-info-section {
    width: auto;
    flex: 1 1 0%;
    height: auto;
    order: 2;
    display: flex;
    flex-direction: column;
}

.product-info-inner {
    display: block;
}

/* 판매자 */
.seller-link {
    display: flex;
    align-items: center;
}

.seller-name {
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

.seller-arrow {
    width: 14px;
    height: 14px;
}

/* 상품제목 */
.product-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
    margin: 12px 0px;
}

.product-title > span {
    font-size: 24px;
    font-weight: normal;
    line-height: 120%;
}

/* 가격 */
.price-wrapper {
    width: 100%;
    order: 4;
}

.price-container {
    display: flex;
    gap: 24px;
    padding-bottom: 20px;
}

.price-metric {
    margin: 0px;
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.price-label {
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    word-break: keep-all;
}

.price-value {
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(235, 75, 56);
}

/* 빈공간 */
.divider {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    left: 0px;
    right: 0px;
    position: relative;
    height: 1px;
    background-color: rgb(240, 240, 240);
}

/* 인포 */
.info-section {
    margin: 0px 0px 1rem;
    order: 5;
    background-color: rgb(255, 255, 255);
}

.info-list {
    padding: 20px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info-item {
    margin: 0px;
    display: flex;
    gap: 12px;
}

.info-label {
    min-width: 86px;
    color: rgb(28, 28, 28);
    font-size: 12px;
    font-weight: bold;
    line-height: 120%;
}

.info-value {
    margin: 0px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    color: rgb(28, 28, 28);
    font-size: 13px;
    font-weight: normal;
    line-height: 120%;
}


.links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-bottom: 4px;
    padding: 0px;
}

/* 버튼들 */
.action-buttons {
    order: 5;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
}

.action-buttons-inner {
    gap: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/* 좋아요 */
.like-btn-wrapper {
    order: 1;
    z-index: 400;
    position: relative;
}

.like-btn-container {
    padding: 0.5rem 0px;
}

/* 현재 화면의 좋아요버튼 */

.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 48px;
    background: white;
    cursor: pointer;
    position: relative;
}

.like-btn-inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

/* 찜 하트 토글 */
.like-btn .red-heart {
    display: none;
}

.like-btn.liked .black-heart {
    display: none;
}

.like-btn.liked .red-heart {
    display: block;
}

.icon-svg {
    display: inline-flex;
    align-self: center;
}

.icon-svg svg {
    width: 1em;
    height: 1em;
}

.like-count {
    margin-top: 4px;
    font-size: 11px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
    text-align: center;
}

/* 공유버튼 */
/* .share-btn-wrapper {
    padding: 0.5rem 0px;
    margin: 0px 6px;
    order: 2;
    position: relative;
}

.share-btn-container {
    width: 44px;
    height: 48px;
    display: flex;
    justify-content: center;
}

.share-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    background: white;
    margin: 0px;
    padding: 0px;
    opacity: 1;
    cursor: pointer;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 0em 0px 0px inset;
    user-select: none;
    border-radius: 0.285714rem;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.share-count {
    margin-top: 4px;
    font-size: 11px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
    text-align: center;
} */

/* 구매버튼 */
.buy-btn-wrapper {
    flex-grow: 1;
    order: 3;
}

.buy-btn-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 1 0%;
}

.cta-btn-container {
    flex: 1 1 0%;
    position: relative;
    width: 100%;
}

.buy-btn {
    width: 100%;
    height: 48px;
    padding: 14px 20px;
    border-radius: 8px;
    white-space: nowrap;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    background-color: rgb(28, 28, 28);
    color: white;
}

/* 네비바 */
.nav-bar {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    display: flex;
    align-items: stretch;
    position: relative;
    z-index: 10;
    height: 56px;
    padding: 0px 1rem;
}

/* 일정 스크롤 내렸을때 이 클래스 붙임 */
.nav-bar.scrolled-down {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav-inner {
    width: 1040px;
    margin: 0px auto;
    height: 100%;
    padding: 0px;
    overflow: hidden;
}

.nav-items {
    width: auto;
    margin: 0px 1rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    align-items: stretch;
    overflow: auto;
}

.nav-item {
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.5rem 0px;
    font: 700 14px / 22px "Pretendard", sans-serif;
    color: rgb(158, 158, 158);
    cursor: pointer;
}

.nav-item.selected {
    color: rgb(13, 13, 13);
    border-bottom: 3px solid rgb(13, 13, 13);
    padding-bottom: calc(-3px + 0.5rem);
}

.nav-item:hover {
    color: rgba(0, 0, 0, 0.9);
}

/* Content Background */
.content-bg {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 0px;
}

.content-container {
    width: 1160px;
    margin: 0px auto;
    position: relative;
    height: auto;
}

.content-wrapper {
    display: flex;
    width: 1040px;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 38px;
    margin: 0px auto;
}

.content-main {
    order: 1;
    width: 100%;
    padding-bottom: 40px;
    flex: 1 1 650px;
}

.main-content-product {
    width: 100%;
    min-height: 500px;
}

/* Story */
.story-container {
    max-width: 620px;
    word-break: break-all;
    width: 100%;
    padding: 0px 15px;
}

.section-tabs-wrapper {
    width: 100%;
    background: none;
}

.section-tabs {
    width: 620px;
    padding: 16px 0px;
    height: 64px;
    list-style: none;
    overflow: auto hidden;
    display: flex;
    align-items: center;
    margin: 0px;
    gap: 12px;
}

.section-tabs.scrolled-down {
    z-index: 1;
    background: white;
    display: flex;
    position: fixed;
    top: 56px;
    left: auto;
}

.section-tab {
    cursor: pointer;
    flex-shrink: 0;
    height: 36px;
    padding: 9.5px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    border: 1px solid rgb(228, 228, 228);
}

.section-tab.active {
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    background: rgb(28, 28, 28);
}

.story-card {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in-out;
}

.story-card-inner {
    position: relative;
    padding: 32px 0px 0px;
}

.story-content {
    position: relative;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 1200px;
}

.story-content.expanded {
    max-height: none;
}
.story-content.expanded .full-story-content-wrap::after {
    display: none;
}

/* 상품더보기 누르기전에 max-height로 짤리는 부분을 after로 흐리게 처리 */
.full-story-content-wrap::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
}

.full-story-content-wrap {
    padding: 32px 0px;
}

.full-story-content-wrap:last-child .story-content-img-wrap:last-of-type {
    border-bottom: none;
}

.full-story-content-wrap:first-child {
    padding-top: 0px;
}

/* 본문의 각 타이틀(상품소개, 판매자소개, 환불/교환 안내) */
.story-section-title {
    display: flex;
    color: rgb(13, 13, 13);
    font-weight: 700;
    align-items: center;
    margin-bottom: 16px;
    font-size: 18px !important;
    line-height: 28px !important;
}

.story-section-title::before {
    content: "";
    display: block;
    width: 2px;
    height: 14px;
    background: rgb(61, 61, 61);
    margin-right: 9px;
}

.story-content-img-wrap {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 28px;
    color: #3d3d3d;
    overflow-x: hidden;
}

.story-content-img {
    margin-top: 16px;
    opacity: 1;
    width: 100% !important;
    height: auto !important;
    max-width: 620px;
    transition: opacity 0.3s ease;
}

.show-all-info-btn {
    display: flex;
    width: 100%;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    color: rgb(235 75 56);
    padding-bottom: 11.5px;
    padding-top: 11.5px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255 255 255);
    border-color: rgb(235 75 56);
    border-width: 1px;
    border-radius: 7px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.show-all-info-btn svg {
    width: 18px;
    height: 18px;
}

.show-all-info-btn svg path {
    fill: currentColor;
}

.seller-intro-wrap {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 32px 0px;
}

.refund-intro-wrap {
    padding: 32px 0px;
    padding-bottom: 0px;
}

.report-btn-wrapper {
    padding: 30px 0px 0px;
}

.policy-wrap {
    padding: 50px 0px 32px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.section-policy {
    color: rgb(61, 61, 61);
    font-weight: 700;
    font-size: 16px !important;
    line-height: 24px !important;
}

.section-policy-content {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 28px !important;
    margin-top: 20px;
    color: rgb(109, 109, 109);
}

.report-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 0px;
    background: transparent;
}

.report-icon svg {
    width: 14px;
    height: 14px;
    fill: rgb(109, 109, 109);
}

.report-btn span {
    color: rgb(109, 109, 109);
    text-decoration: underline;
    margin: 0px 0px 0px 5px;
}

/* 사이드바 */
.side-content-container {
    order: 2;
    width: 100%;
    margin: 0px;
    display: block;
    flex: 0 1 352px;
    max-width: 352px;
    padding-top: 25px;
}

.side-content-wrapper {
    width: 100%;
    min-height: 500px;
}

.seller-products-container {
    display: block;
}

.seller-products-wrapper {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

/* .review-wrap {
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
}

.review-info-wrap {
    cursor: pointer;
}

.review-info-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.ReviewInfoWrap {
    width: 20px;
    height: 20px;
}

.ReviewInfoWrap path {
    fill: rgb(28, 28, 28);
}

.review-keyword-wrap {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 16px;
}

.review-keyword {
    display: flex;
    align-items: center;
}

.review-thumb {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.review-keyword span:nth-child(2) {
    color: rgb(28, 28, 28);
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    margin-right: 4px;
}

.review-keyword span:nth-child(3) {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(235, 75, 56);
}

.review-keyword span:nth-child(4) {
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(158, 158, 158);
    margin-left: 4px;
}

.review-image-wrap-side {
    margin: 10px -20px 0px;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.review-gandan-wrap {
    cursor: pointer;
    width: 280px;
    transform: translate3d(20px, 0px, 0px);
}

.review-gandan {
    height: 90px;
    display: flex;
    gap: 12px;
    padding: 12px;
    background-color: rgb(248, 248, 248);
    border-radius: 8px;
    width: 280px;
}

.gandan-image-wrap {
    width: 66px;
    height: 66px;
    
}

.gandan-wrap {
    position: relative;
}

.gandan-image {
    width: 66px;
    height: 66px;
    border-radius: 4px;
    object-fit: cover;
}

.gandan-text {
    font-size: 13px;
    font-weight: normal;
    line-height: 150%;
    color: rgb(28, 28, 28);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.seller-card-wrap {
    border-radius: 12px;
    border: 1px solid rgb(228, 228, 228);
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
}

.seller-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.creator-wrapper {
    display: flex;
    align-items: center;
}

.profile-img {
    display: inline-block;
    background-image: url(https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctcHJvZCIsImtleSI6InByb2ZpbGUvZWVjZjExMzItMTJkMS00YjIzLTkwZTYtMjFlMzVlNTcwM2EwLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MjAwLCJoZWlnaHQiOjIwMCwid2l0aG91dEVubGFyZ2VtZW50Ijp0cnVlLCJmaXQiOm51bGx9LCJyb3VuZENyb3AiOmZhbHNlLCJyb3RhdGUiOm51bGx9fQ==);
    background-size: cover;
    background-position: 50% 38%;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    box-shadow: rgb(208, 208, 208) 0px 0px 1px 0px inset, rgb(208, 208, 208) 0px 0px 1px 0px;
    margin-right: 14px;
    margin-top: 0px;
    flex-shrink: 0;
}

.creator-info {
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    justify-content: center;
    gap: 4px;
}

.creator-name {
    max-width: 230px;
    color: rgb(28, 28, 28);
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.creator-active {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4px;
}

.active-info {
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(158, 158, 158);
}

.creator-active-info {
    color: rgb(158, 158, 158);
    font-size: 12px;
    font-weight: bold;
    line-height: 120%;
}

.CreatorCard__StyledIconChevronRight {
    margin-left: auto;
    width: 20px;
    height: 20px;
}

.CreatorCard__StyledIconChevronRight path {
    fill: rgb(28, 28, 28);
}

.divider-in-card {
    width: 100%;
    height: 1px;
    background: rgb(240, 240, 240);
}

.responsed-by-customer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.haetsal-score-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.each-score {
    color: rgb(28, 28, 28);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
}

.score-title {
    color: rgb(84, 84, 84);
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
}

.sticker-container {
    transition: height 0.1s;
    position: relative;
}

.sticker-container.scrolled-down {
    z-index: 1;
    position: fixed;
    width: 354px;
    overflow: hidden auto;
    margin: 0px 0px 0px -1px;
    padding: 0px 0px 0px 1px;
    top: 52px;
    height: calc(100% - 52px);
    scrollbar-width: none;
}

.sticker-wrapper {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
    background: transparent !important;
    width: 100%;
    height: auto;
    padding: 24px 0px 0px;
}

.select-text {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    color: rgb(28, 28, 28);
    margin-bottom: 0.5rem;
}

/* 상품옵션 하나라도 선택했을때 나오는 박스 */
.selected-options-container {
    display: none;
    /* display: flex; */
    padding: 20px;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgb(28, 28, 28);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px 0px;
}

.selected-list-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
}

.each-cart-wrap {
    position: relative;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgb(228, 228, 228);
    background: rgb(248, 248, 248);
}

.cart-item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 32px;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

.cart-info-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.cart-option-explain {
    position: relative;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cart-item-list {
    position: relative;
    padding-left: 14px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

.cart-bullet {
    position: absolute;
    left: 0px;
    top: 3px;
    width: 12px;
    height: 12px;
    margin-right: 2px;
}

.cart-bullet svg {
    width: 1em;
    height: 1em;
}

.cart-qtt-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qtt {
    display: inline-flex;
    height: 40px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgb(228, 228, 228);
    background: white;
    box-sizing: border-box;
}

.qtt input[type="text"] {
    width: 22px;
    height: 38px;
    background: transparent;
    text-align: center;
    border: 0px;
    padding: 0px;
    outline: none;
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
}

.qtt button {
    width: 40px;
    height: 38px;
    font-size: 10px;
    border: 0px;
    background: transparent;
}

.qtt-minus, .qtt-plus {
    display: inline-flex;
    align-self: center;
}

.qtt-minus svg, .qtt-plus svg {
    width: 1em;
    height: 1em;
}

.qtt button svg {
    fill: black;
}

.qtt button:disabled svg {
    fill: rgb(208, 208, 208) !important;
}

.each-price {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(235, 75, 56);
}

.delete-cart-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    padding: 0px;
}

.delete-cart-btn svg {
    width: 14px;
    height: 14px;
}

.divider-in-cart {
    height: 20px;
}

.cart-buttons-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* .get-more-btn {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: rgb(84 84 84);
    padding-bottom: 14.5px;
    padding-top: 14.5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255 255 255);
    border-color: rgb(228 228 228);
    border-width: 1px;
    border-radius: 7px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    height: 48px;
} */

.cart-buy-btn {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: rgb(255 255 255);
    padding-bottom: 14.5px;
    padding-top: 14.5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(28, 28, 28);
    border-radius: 7px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.total-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    font-family: "Pretendard", sans-serif;
}

.each-product-option-wrap {
    border-bottom: none;
    margin: 10px 0px 14px;
}

.each-product-option {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(0, 0, 0, 0.04) 0px 2px 4px;
    overflow: hidden;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: height 0.2s, box-shadow 0.2s, border 0.2s ease-in-out;
    border: 1px solid rgb(239, 239, 239);
}

.each-product-option:hover {
    border-color: rgb(158, 158, 158) !important;
    cursor: pointer;
}

.each-option {
    position: relative;
    transition: height 0.1s ease-out;
    overflow: hidden;
}

.each-option-card {
    transition: 0.4s ease-out;
    opacity: 1;
    height: auto;
    left: 0%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    display: block;
}

.option-card {
    padding: 20px;
}

.option-price {
    margin: 0px 0px 8px;
    color: rgb(61, 61, 61);
}

.price-wrap {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    margin: 0px 0px 2px;
}

.option-name {
    margin-top: 6px;
    font-size: 13px;
    font-weight: normal;
    line-height: 120%;
    padding-left: 0px;
    overflow-wrap: break-word;
}

.option-explain {
    color: rgb(158, 158, 158);
}

.item-list {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    margin: 0px;
    font-weight: normal;
    position: relative;
    font-family: "Pretendard", sans-serif;
    list-style: none;
    padding: 0px 0px 0px 10px;
}

.item-list::before {
    content: "·";
    position: absolute;
    font-weight: bold;
    left: 0px;
    top: -1px;
}

.review-container-reviewtab {
    max-width: 650px;
    background: none;
    border-top: 1px solid rgb(240, 240, 240);
}

.review-wrap-reviewtab {
    margin: 0px;
}

.reviews-container {
    border-top: 1px solid rgb(240, 240, 240);
}

.reviews-wrapper {
    display: flex;
    padding: 0px 0px 58px;
}

.simple-reviews-container {
    display: block;
}

.simple-header-wrap {
    margin: 40px 0px 20px;
    padding: 0px;
    display: flex;
}

.simple-header {
    display: flex;
    gap: 4px;
    align-items: center;
}

.simple-header > div {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-family: "Pretendard", sans-serif;
}

.simple-count {
    color: rgb(248, 100, 83);
}

.simple-keyword-container {
    padding: 0px;
}

.simple-keyword-wrap {
    padding: 0px 0px 12px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.keyword-item {
    display: flex;
    transition: max-height 0.5s ease-out;
    scrollbar-width: none;
    max-height: 34px;
    overflow: hidden;
}

.item-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: "Pretendard", sans-serif;
    color: rgb(109, 109, 109);
    width: 60px;
    padding: 6px 0px;
    margin-right: 12px
}

.review-option-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.review-option {
    display: flex;
    align-items: center;
    padding: 6px 0px;
}

.option-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    font-family: "Pretendard", sans-serif;
    width: 80px;
    color: rgb(158, 158, 158);
}

.keyword-item .review-option:first-child .option-title {
    color: rgb(13, 13, 13);
}

.progress-bar {
    position: relative;
    flex: 1 1 auto;
    height: 6px;
    background-color: rgb(228, 228, 228);
    border-radius: 6px;
}

/* width는 서버에서 받아서 계산 */

.progress-bar::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    width: 50%;
    max-width: 100%;
    background-color: rgb(109, 109, 109);
    border-radius: 6px;
}

.keyword-item .review-option:first-child .progress-bar::after {
    background-color: rgb(248, 100, 83);
}

.progress-rate {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: "Pretendard", sans-serif;
    color: rgb(109, 109, 109);
    margin-left: 8px;
    width: 40px;
}

.key-dd-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
    margin-left: 4px;
    width: 16px;
    transition: all 0.2s 0s;
}

.key-dd-icon.clicked {
    transform: rotate(180deg);
}

.detail-reviews-container {
    max-width: 770px;
    width: 100%;
    flex: 1 1 auto;
    margin: 0px;
    padding: 40px 0px 30px;
}

.each-detail-review-wrap:not(:first-child) > div > div {
    /*  두번째 자신부터 자식의 자식  */
    padding-top: 32px;
    border-top: 1px solid rgb(240, 240, 240);
}

.review-customer-profile-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-customer-profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.customer-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.customer-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profile-name {
    display: flex;
    align-items: center;
    gap: 4px;
}

.goto-customer-profile {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    max-width: 182px;
    color: rgb(28, 28, 28);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.count-buy-review {
    display: flex;
    align-items: center;
    gap: 6px;
}

.count-buy {
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

.divider-in-count {
    color: rgb(158, 158, 158);
}

.count-review {
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

.review-comment-content-wrap {
    cursor: pointer;
}

.keywords-box-in-comment {
    background-color: rgb(248, 248, 248);
    display: flex;
    padding: 8px 12px;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
    border-radius: 4px;
}

.keyword-in-comment {
    display: flex;
    align-items: center;
    gap: 4px;
}

.keyword-in-comment p {
    margin: 0px;
}

.keyword-name {
    color: rgb(158, 158, 158);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    font-family: "Pretendard", sans-serif;
}

.keyword-content {
    color: rgb(109, 109, 109);
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    font-family: "Pretendard", sans-serif;
}

.review-comment {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Pretendard", sans-serif;
    white-space: pre-wrap;
    margin-top: 12px;
    color: rgb(84, 84, 84);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.review-image-wrap {
    margin-top: 16px;
}

.image-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.review-image {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    cursor: pointer;
    object-fit: cover;
    width: 96px;
    height: 96px;
}

.review-item-info {
    margin-top: 12px;
}

.product-link-in-review {
    display: flex;
    align-items: center;
    gap: 8px;
}

.goto-product-from-review-image {
    width: 44px;
    height: 44px;
    border-radius: 4px;
}

.product-name-nextto-image {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(84, 84, 84);
    font-size: 13px;
    font-weight: bold;
    line-height: 120%;
}

.thumbs-wrap {
    margin-top: 5px;
    margin-bottom: 20px;
}

.thumbs-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
}

.review-date {
    color: rgb(158, 158, 158);
    font-size: 13px;
    font-weight: normal;
    line-height: 120%;
}

.review-thumbs {
    display: flex;
    align-items: flex-end;
}

.thumbs {
    gap: 8px;
    display: flex;    
}

.each-thumb {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.each-thumb svg {
    overflow: hidden;
}

.thumb-down svg {
    transform: rotate(180deg);
}

.ThumbsUpButton path {
    fill: rgb(158, 158, 158);
}

.thumb-up-count {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: "Pretendard", sans-serif;
    color: rgb(158, 158, 158);
}

.divider-after-reviews {
    margin: 0px 0px 16px;
    height: 1px;
    background-color: rgb(240, 240, 240);
    display: block;
}

.show-all-review-btn-wrap {
    display: flex;
    justify-content: center;
}

.all-review-btn {
    width: 100%;
    height: 40px;
    padding: 14px 16px;
    border-radius: 8px;
    white-space: nowrap;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    background-color: white;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(84, 84, 84);
}

.all-review-btn:hover {
    background-color: rgb(240, 240, 240);
}

/* 여기부터 문의탭 */

/* .community-container {
    max-width: 650px;
    background: none;
} */

/* 여기부터 푸터 */

.footer-container {
    margin-top: 0px;
    border-top: 1px solid rgb(230, 230, 230);
    position: relative;
    z-index: 2;
    padding-bottom: 76px;
}

.similar-products-container, .bought-with-container {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    background: white;
    color: #3d3d3d;
    padding-top: 32px;
}

.similar-products-wrapper, .bought-with-wrapper {
    max-width: 1032px;
    margin: 0px auto;
    width: 100%;;
}

.similar-products-text, .bought-with-text {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.025em;
    margin: 0px 0px 20px;
    color: rgb(61, 61, 61);
    font-weight: bold;
    position: relative;
}

.cards-container {
    width: 100%;
    z-index: 2;
    position: relative;
    margin: 0px auto;
}

.cards-wrapper {
    position: relative;
}

.banner-wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}

.similar-slide-banner, .bought-with-slide-banner {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-left: auto;
}

.each-card-wrapper {
    flex-shrink: 0;
    width: 194.4px;
    margin-right: 15px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.each-card {
    min-width: 136px;
    position: relative;
    width: 100%;
}

.card-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-box {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    overflow: hidden;
    border-radius: 8px;
}
.card-image:hover {
    transform: scale(1.05);
}
.card-image {
    width: 100%;
    vertical-align: bottom;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s 0s;
}

.like-button {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 2px;
    right: 2px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: 0px;
}

.like-button svg {
    flex-shrink: 0;
}

/* 찜 하트 토글 */
.like-button .red-heart {
    display: none;
}

.like-button.liked .black-heart {
    display: none;
}

.like-button.liked .red-heart {
    display: block;
}

.card-content-wrapper {
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 8px;
    margin-left: 0px;
    padding: 0px 4px;
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.card-seller-name-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: center;
    text-align: center;
}

.card-seller-name {
    font-size: 11px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

.card-seller-name > div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}

.card-seller-name > div:hover {
    text-decoration: underline;
}

.products-title {
    overflow: hidden;
    flex-shrink: 0;
}

.product-link {
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.product-price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(235, 75, 56);
}

.similar-left-slide-btn, .bought-with-left-slide-btn {
    left: -24px;
    display: none;
    /* 일단은 none으로 숨기자 */
    /* show일때만 flex로하기 */
    width: 48px;
    height: 48px;
    padding: 0px;
    position: absolute;
    border: 0px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
    background: white;
    color: rgb(61, 61, 61);
    align-items: center;
    justify-content: center;
    outline: 0px;
    top: 110px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
    transition: 0.5s;
}
.similar-left-slide-btn.show, .bought-with-left-slide-btn.show {
    display: flex;
}

.left-arrow svg {
    font-size: 16px;
    fill: rgb(13, 13, 13);
    margin-right: 2px;
    width: 1em;
    height: 1em;
}

.similar-right-slide-btn, .bought-with-right-slide-btn {
    right: -24px;
    /* 마지막카드 도착하면 숨기기 */
    display: flex;
    width: 48px;
    height: 48px;
    padding: 0px;
    position: absolute;
    border: 0px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
    background: white;
    color: rgb(61, 61, 61);
    align-items: center;
    justify-content: center;
    outline: 0px;
    top: 110px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
    transition: 0.5s;
}
.similar-right-slide-btn.hide, .bought-with-right-slide-btn.hide {
    display: none;
}

.right-arrow svg {
    font-size: 16px;
    fill: rgb(13, 13, 13);
    margin-left: 2px;
    width: 1em;
    height: 1em;
}

div.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}

div.like-modal {
    box-sizing: border-box;
    position: unset;
    width: 288px;
    margin: 20vh 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0px 2px 12px;
    border-radius: 8px;
    padding: 24px;
}

div#content-wrap span{
    display: block;
}

.main-screen {
    display: none;
}

.on {
    display: block;
}